
* { 
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
table#resultTable {
    border-collapse: collapse;
    width: 100%;
}
table#resultTable tr:nth-child(even) td {
    background-color: #eee;
}
table#resultTable tr:nth-child(odd) td {
    background-color: #ccc;
}

table#resultTable tr {
	background-color: white;
}

table#resultTable th {
    background-color: #555;
    text-align: left;
}

tr:last-child td:first-child { border-bottom-left-radius: 15px; }
tr:last-child td:last-child { border-bottom-right-radius: 15px; }

table#resultTable th, td {
    padding: 15px;
}

#parameters {
    background-color: #eee;
    border-radius: 15px 15px 15px 15px;
}
div#page {
}

div#searchForm {
    float: left;
    overflow: auto;
	display: inline;
	width: 300px;
	margin: 10px 10px 10px 10px;
}

div#results {
    float: left;
	overflow: auto;
	width: 500px;
	margin: 10px 10px 10px 10px;
}

div#slider-hoehen {
	width: 93%;
	margin: 0 auto;
}

div#button {
	padding: 1em 15px 15px 15px;
}

.searchFormElement {
	padding: 5px 15px 5px 15px;
}

.label {
	font-weight: bold;
}

.title {
	font-weight: bold;
	font-size: 2em;
	background-color: black;
	color: white;
	padding: 5px 15px 5px 15px;	
}

.top {
	border-radius: 15px 15px 0 0;
}
.bottom {
	border-radius: 0 0 15px 15px;
}
